:root {
    --box-shadow: 0 2px 8px 4px rgba(0,0,0,0.15);
    --off-black: #111111;
    --red: #9F001A;
    
    --dark: #333;
    --nav-color: #212121;
    --creme: #e9dccc;
    --white: #fff;
    --black: #000;
    --body: 'Open Sans', sans-serif;
    --headings-font: 'Chronicle Display', serif;
    --description-p-font:'Libre Franklin', sans-serif;
    --link-nav: 1.2rem;
    --banner-h2-fontsize-lg: 6rem;
    --banner-h2-fontsize-md: 4rem;
    --banner-h2-fontsize-sm: 2.25rem;
    --banner-text-fontsize-lg: 1.5rem;
    --banner-text-fontsize-md: 1.25rem;
    --banner-text-fontsize-sm: 1.25rem;
    --menu-items-h3: bold 1.5rem 'Open Sans', sans-serif;
    --menu-items-ul: 1.2rem;
    --text-shadow: 0.125rem 0.125rem 0.125rem #333;
}

/* Utility Classes */
.inner-container {
    margin: 0 auto;
    max-width: 1440px;
}
 
.flex-container {
    display: flex;
    justify-content: space-between;
    gap: 1.125rem;
}

.btn {
    display: flex;  
    align-items: center;
    justify-content: center;
    color: var(--white);
    background-color: var(--off-black);
    font-size: 1.5rem;
    font-family: var(--headings-font);
    width: 240px;
    height: 72px;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: var(--red);
}

/* Icon button style */
.icon-btn {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-decoration: none;
    font-size: 1rem;
}
.icon-btn:hover {
    color: var(--red);
    text-decoration: none;
}
.icon-btn:hover svg path{
    stroke: var(--red);
}

/* Dropdown menu style */
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-btn {
    background: var(--white);
    color: var(--nav-color);
    font-size: var(--link-nav);
    padding-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    border-radius: 5px;
    display: none;
    min-width: 200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.dropdown-menu a {
    display: block;
    padding: 10px;
    color: var(--nav-color);
    font-size: var(--link-nav);
    margin-left: 1rem;
    text-decoration: none;
}
/* Set dropdown button and icon coloe in hover mode */
.dropdown:hover .dropdown-btn {
    color: var(--red);
}
.dropdown:hover svg path{
    stroke: var(--red);
}
/* Click button to show menu items */
/*
.dropdown:focus-within .dropdown-menu {
    display: block;
}
*/
/* move mouse to show menu items */
.dropdown:hover .dropdown-menu {
    display: block;
}

/* Typography */
h1,
h2,
h3 {
    font-family: var(--headings-font);
}
h1 {
    font-size: 1.5rem;
    font-weight: normal;
}
h2 {
    font-weight: normal;
}
p {
    padding-bottom: 1rem;
}

a {
    color: var(--nav-color);
    font-size: var(--link-nav);
    margin-left: 1rem;
    text-decoration: none;
}
a:hover:not([class]) {
    text-decoration: underline;
}

/* Universal Styles */
header {
    box-shadow: var(--box-shadow);
}

body {
    color: var(--off-black);
    line-height: 1.5;
}

/* The top bar styles */
header .top-bar {
    padding: 0 20rem;
    align-items: center;
}

/* Navigation */
nav.flex-container {
    gap: 10rem;
    background-color: var(--white);
}
nav ul li {
    display: flex;
    align-items: center;
}

/* Header styles */
header section {
    color: var(--black);
    background-color: var(--red);
    flex-flow: column;
}

header .banner-title h2 {
    color:  var(--white);
    padding-left: 5rem;
    padding-top: 36rem;
}

header .banner-description {
    flex-flow: column;
    padding: 0rem 5rem 5rem 5rem;
}

header .banner-description p {
    max-width: 720px;
    font-family: var(--description-p-font);
}

header .banner-description a {
    margin-left: calc((100% - 240px)/2);
    margin-top: 2rem;
}


/* Media Queries */
/* mobile phone screen */
@media screen and (max-width: 816px) {
    h2 {
        font-size: var(--banner-h2-fontsize-sm);
    }
    header .banner-title {
        background: center / cover no-repeat url('../img/hero-banner-small.webp');
    }
    header .banner-description p {
        font-size: var(--banner-text-fontsize-sm);
    }

}
/* mobile tablet screen */
@media screen and (min-width: 817px) and (max-width: 1440px) {
    h2 {
        font-size: var(--banner-h2-fontsize-md);
    }
    header .banner-title {
        background: center / cover no-repeat url('../img/hero-banner-medium.webp');
    }
    header .banner-description p {
        font-size: var(--banner-text-fontsize-md);
    }
}
/* PC desktop screen */
@media screen and (min-width: 1440px) {
    h2 {
        font-size: var(--banner-h2-fontsize-lg);
    }
    header .banner-title {
        background: center / cover no-repeat url('../img/hero-banner-large.webp');
    }
    header .banner-description p {
        font-size: var(--banner-text-fontsize-lg);
    }
}