:root {
    --box-shadow: 0 2px 8px 4px rgba(0,0,0,0.15);
    --off-black: #111111;
    --red: #9F001A;
    /**/
    --a-color: #212121
}

/* Utility Classes */

.inner-container {
    max-width: 1440px;
    margin: auto;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.collapsed {
    max-height: 0;
    opacity: 0;
    visibility: hidden;
}

.expanded {
    max-height: unset;
    opacity: unset;
    visibility: visible;
}

.btn {
    background-color: var(--off-black);
    color: #fff;
    cursor: pointer;
    display: block;
    padding: 1rem;
    text-align: center;
    width: 15rem;
    font-size: 1.5rem;
    border-radius: 5px;
}
.btn:hover {
    background-color: var(--red);
    color: #fff;
}

.toggle-btn {
    background-color: unset;
    border: unset;
}

.toggle-btn svg {
    width: 2rem;
    display: block;
}

.toggle-btn:hover {
    cursor: pointer;
}

.text-memu {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem 0 2rem 1rem;
    border: none;
    border-top: solid 1px var(--off-black);
    border-bottom: solid 1px var(--off-black);
}

.text-memu ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0.5rem 0 0 1rem;
}

.icon-menu {
    display: flex;
    gap: 2rem;
    padding: 1rem 0 1rem 1rem;
}

.icon-btn {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-decoration: none;
    color: var(--a-color);
}
.icon-btn:hover {
    color: var(--red);
    text-decoration: none;
}
.icon-btn:hover svg path{
    stroke: var(--red);
}

.banner-title {
    position: relative;
}
.banner-title img {
    display: block;
    width: 100%;
}
.banner-title h2 {
    position: absolute;
    left: 1rem;
    bottom: -3rem;
    font-size: 2.25rem;
    font-weight: normal;
    z-index: 1;
}
.banner-title h2 span:first-of-type {
    color: white;
}

.banner-body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: var(--off-black);
    background-color: var(--red);
    padding: 4rem 1rem 2rem 1rem;
}
.banner-body p {
    font-size: 1.25rem;
}
.banner-body .btn {
    margin-left: auto;
    margin-bottom: 1rem;
}

.custom-tarian {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 5rem 1rem;
}
.layered-swatches {
    width: 100%;
}
.layered-swatches picture {
    width: 66%;
    position: relative;
    transition: transform 0.3s ease-in-out;
}
.layered-swatches picture:hover {
    transform: scale(1.2);
    z-index: 1;
}
.layered-swatches picture:nth-of-type(2) {
    top: -3rem;
    left: 34%;
}
.layered-swatches picture img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.custom-tarian .btn {
    margin-top: 1rem;
}



/* Typography */
h1, 
h2, 
h3,
.btn {
    font-family: 'Chronicle Display', serif;
    font-weight: normal;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 2.25rem;
}

h3 {
    font-size: 2rem;
}

p {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: var(--a-color);
    font-family: 'Libre Franklin', sans-serif;
}

a:hover:not([class]) {
    text-decoration: underline;
}

/* Universal Styles */

body {
    color: var(--off-black);
    line-height: 1.5;
}

header {
    padding: 1rem;
}

header .inner-container {
    height: 4.25rem;
    padding: 0.5rem 1rem;
}

nav {
    background-color: #fff;
    box-shadow: var(--shadow);
    position: absolute;
    left: 0;
    top: 4.25rem;
    width: 100%;
    z-index: 10;
}
